.trailsMain {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.trailsText {
  position: relative;
  width: 100%;
  height: 80px;
  line-height: 80px;
  color: black;
  font-size: 5em;
  font-weight: 800;
  text-transform: uppercase;
  will-change: transform, opacity;
  overflow: hidden;
  text-align: left;
}

.trailsText > div {
  overflow: hidden;
}

.Logo {
  position: absolute;
  top: 20px;
  transform: scale(1.3);
}

.Wrapper {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.Whatsapp {
  width: 100%;
  z-index: 10;
}

.Whatsapp img {
  width: 45px;
}

.Message {
  z-index: 1;
}

.Constructor {
  position: absolute;
  width: 56%;
  /* transform: translate(255px, -100px); */
  transform: translate(355px, 27%);
}

.Constructor img:first-of-type {
  width: 20%;
}

.Constructor img:last-of-type {
  width: 13%;
  transform: translate(-130%, 10px);
}

.Constructor::after {
  content: ' ';
  position: absolute;
  left: 20%;
  bottom: -10px;
  width: 50%;
  height: 60px;
  border-radius: 50%;
  background-color: darkgoldenrod;
  opacity: 0.3;
  z-index: -1;
}

.Items {
  color: rgb(0, 0, 0);
}

.card {
  width: 10ch;
  height: 10ch;
  z-index: 99;
  background: transparent;
  border-radius: 50%;
  background-image: url('../../assets/construction/whatsapp.svg');
  background-size: cover;
  background-position: center center;
  box-shadow: 0px 10px 30px -5px rgba(0, 0, 0, 0.3);
  transition: box-shadow 0.5s;
  will-change: transform;
  border: 5px solid white;
}

.card:hover {
  box-shadow: 0px 30px 100px -10px rgba(0, 0, 0, 0.4);
}

.Link {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 10px;
}

@media (max-width: 768px) {

  .Logo {
    transform: scale(1);
  }

  .Link {
    animation: beat 1s infinite alternate;
  }

  .card {
    width: 10ch;
    height: 10ch;
    border-width: 4px;
  }

  .trailsMain {
    background: black;
  }

  .Items {
    color: rgb(255, 255, 255);
  }

  .Message {
    z-index: 1;
  }

  .trailsText {
    height: 2rem;
    line-height: 2rem;
    font-size: 2rem;
  }

  .Constructor {
    width: 100%;
    transform: translate(0, 0%);
    bottom: 20px;
  }
}

@keyframes beat {
  to {
    transform: scale(0.95);
  }
}
