.Sevi {
    display: flex;
    font-size: 3rem;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 10px;
    padding: 5px;
}

#SEV, #I {
    padding-left: 5px;
}


#SEV {
    background-color: black;
    color: white;
}