.Sevi {
    display: flex;
    font-size: 3rem;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 10px;
    --border: 1px solid salmon;
}


.SEV {
    background-color: black;
    color: white;
}