.Sevi {
  display: flex;
  font-size: 3rem;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 10px;
  overflow: hidden;
}

.I {
  color: white;
  background-color: black;
}

.SEV {
  color: black;
  background-color: white;
  padding-left: 5px;
}

@media (min-width: 1024px) {
  .Sevi {
    font-size: 3rem;
  }

  .I {
    color: black;
    background-color: white;
  }

  .SEV {
    background-color: black;
    color: white;
    padding-left: 5px;
  }
}
